/*=========================================================
  Start Header
=========================================================*/
@media(max-width:992px){
  nav ul{
    padding:10px 0;
  }
  nav ul li{
    margin:5px 0;
    text-align:center;

  }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
    color:black;
    background: #ffc61a;
    border-radius:17px;
  }
  .booking_form{
    margin: 30px auto;
    width:100%
  }
  .show{
    background: url(../img/navbg.png);
    
    border-radius: 0 0 50% 50%;
    background-size: cover;
    
  }
  #tarrif .tarrif_title{
    margin-bottom:0 ;
  }

  #tarrif .card{
    margin-top: 150px;
  }

  .app_img img{
    padding-top:20px;
    position:absolute;
    bottom:0;

  }
  #foot_up .fdownload {
    margin:30px 0;
}
  #foot_up .fabout {
    margin:30px 0;
}
  #foot_up .fcontact {
    margin:30px 0;
}

  
  
}

/*-------------------------------------------------------------------------*/
@media(width:768px){
  .app_img img{
    padding-top:20px;
    position:absolute;
    bottom:0;

  }

}
@media(max-width:768px){
  #aboutus .blog{
    padding-right:20px;
  }
  #tarrif .tarrif_title{
    margin-bottom: 0px;
  }
  .app_img img{
    padding-top:20px;
    position:unset;
    bottom:0;

  }
  #testimoni .comments{
    padding: 30px 50px 30px 50px;
  }

}
/*-------------------------------------------------------------------------*/
@media(max-width:576px){
  #aboutus .blog{
    
    padding-right:0px;
  }
}
/*-------------------------------------------------------------------------*/
@media(max-width:480px){
  .title h1 {
    font-size: 38px;
}
.navbar-dark .navbar-toggler-icon{
  display: block;
  clear:left
}
#aboutus{
  padding-top: 100px;
}
.main_content_article p{
  margin-right:0;
  
  
}
.content-info h1{
  font-size:35px;
}
.app_info h1{
  font-size:30px;
}
.app_content p{
  margin-right: 0;
}
#contact h4{
  font-size:22px;
}
#contact h1{
  font-size:35px;
}
.man_info h5{
  font-size: medium;
}
#testimoni .comments{
  padding: 30px 30px 30px 50px;
}
}

/*-------------------------------------------------------------------------*/
@media(max-width:320px){
  .title h1 {
    font-size: 34px;
}
.title h6 {
  font-size: 15px;
  letter-spacing: 4px;
}
.title h4 {
  font-size: 20px;
}
#aboutus h1 {
  font-size: 2em;
}
#aboutus h2 {
  font-size: 1.2em;
}
#tarrif .card {
  margin-top: 100px;
}
#contact h4{
  font-size:18px;
}
#contact h1{
  font-size:30px;
}
}
/*-------------------------------------------------------------------------*/
@media(max-width:290px){
  .title h6 {
    font-size: 10px;
    letter-spacing: 5px;
}

.title h1 {
  font-size: 24px;
}
.title h4 {
  font-size: 14px;
}
.man_info h5{
  font-size:small;
}


}
/*End Header*/

